*.log
*.aux
*.Rhistory
.RData
**.Rout
*.csv
*.json
*.js
src/analysis/check_df.ipynb
src/data-collection/Untitled.ipynb
src/data-collection/.ipynb_checkpoints/Untitled-checkpoint.ipynb
data/snkrtest.json
